/* Coolors Exported Palette - https://coolors.co/dddcdc-a6aab2-3a4c5c-d5b38f-155987 */

/* CSS HEX */
--platinum: #DDDCDCff;
--french-gray: #A6AAB2ff;
--charcoal: #3A4C5Cff;
--tan: #D5B38Fff;
--lapis-lazuli: #155987ff;

/* CSS HSL */
--platinum: hsla(0, 1%, 86%, 1);
--french-gray: hsla(220, 7%, 67%, 1);
--charcoal: hsla(208, 23%, 29%, 1);
--tan: hsla(31, 45%, 70%, 1);
--lapis-lazuli: hsla(204, 73%, 31%, 1);

/* SCSS HEX */
$platinum: #DDDCDCff;
$french-gray: #A6AAB2ff;
$charcoal: #3A4C5Cff;
$tan: #D5B38Fff;
$lapis-lazuli: #155987ff;

/* SCSS HSL */
$platinum: hsla(0, 1%, 86%, 1);
$french-gray: hsla(220, 7%, 67%, 1);
$charcoal: hsla(208, 23%, 29%, 1);
$tan: hsla(31, 45%, 70%, 1);
$lapis-lazuli: hsla(204, 73%, 31%, 1);

/* SCSS RGB */
$platinum: rgba(221, 220, 220, 1);
$french-gray: rgba(166, 170, 178, 1);
$charcoal: rgba(58, 76, 92, 1);
$tan: rgba(213, 179, 143, 1);
$lapis-lazuli: rgba(21, 89, 135, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);
$gradient-right: linear-gradient(90deg, #DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);
$gradient-bottom: linear-gradient(180deg, #DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);
$gradient-left: linear-gradient(270deg, #DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);
$gradient-top-right: linear-gradient(45deg, #DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);
$gradient-bottom-right: linear-gradient(135deg, #DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);
$gradient-top-left: linear-gradient(225deg, #DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);
$gradient-bottom-left: linear-gradient(315deg, #DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);
$gradient-radial: radial-gradient(#DDDCDCff, #A6AAB2ff, #3A4C5Cff, #D5B38Fff, #155987ff);