.swal2-confirm.btn.btn-primary {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #7066e0 !important;
    color: #fff !important;
    font-size: 1em;
  }


  /* Add your other styles here */

.pdf-image {
  max-height: 600px;
  object-fit: contain;
}


.preview-image {
  max-height: 80vh;
}

/* Add your custom styles here */
.max-width-150 {
  max-width: 150px;
}